[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
freezegun = "*"
black = "*"
twine = "*"
wheel-inspect = "*"

[packages]
python-dateutil = "*"

[requires]
python_version = "3.7"
